body {
  margin: 0;
  background-color: black;
}

#navbar {
  background-color: white;
  display: grid;
  position: fixed; 
  width: 100%;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px;
  grid-template-areas:
  ". menu pizza burger drinks location contacts";
}

#menu {
  grid-area: menu;
  align-self: center;
  justify-self: center;
}

#pizza {
  grid-area: pizza;
  align-self: center;
  justify-self: center;
}

#burger {
  grid-area: burger;
  align-self: center;
  justify-self: center;
}

#drinks {
  grid-area: drinks;
  align-self: center;
  justify-self: center;
}

#location {
  grid-area: location;
  align-self: center;
  justify-self: center;
}

#nav-contact {
  grid-area: contacts;
  align-self: center;
  justify-self: center;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* banner */

#banner {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 510px;
  grid-template-areas:
  ". banner .";
}

#banner-img {
  grid-area: banner;
  justify-self: center;
}


h1 {
  font-family: 'Dosis', sans-serif;
  color: white;
  text-align: center;
  font-size: 50px;
}

/* categories */

#categories {
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-template-rows: 450px;
  grid-template-areas:
  ". categ1 categ2 categ3 .";
}

#categ1 {
  grid-area: categ1;
  justify-self: center;
  text-align: center;
  align-self: center;
}

#categ2 {
  grid-area: categ2;
  justify-self: center;
  text-align: center;
  align-self: center;
}

#categ3 {
  grid-area: categ3;
  justify-self: center;
  text-align: center;
  align-self: center;
}

#categories p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 32px;
}


span {
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
}

span a {
  color: white;
  font-size: small;
}

#contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 50px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  grid-template-areas:
  ". email ."
  ". number .";
}

#email {
  grid-area: email;
  align-self: center;
  justify-self: center;
}

#number {
  grid-area: number;
  align-self: center;
  justify-self: center;
}

#locations {
  font-family: 'Open Sans', sans-serif;
  background-color: #E0AD52;
  height: 300px;
  width: 300px;
  border-radius: 25%;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}

#locations h1 {
  font-weight: 400;
  font-size: 40px;
  font-family: 'Dosis', sans-serif;
}

#locations p {
  font-weight: 300;
  font-size: 32px;
  color: black;
}

/* media queries */


@media only screen and (max-device-width: 600px) {


  #navbar {
    background-color: white;
    display: grid;
    position: static;
    width: 100%;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 150px 150px 150px;
    grid-template-areas:
    ". menu ."
    /* ". pizza ."
    ". burger ."
    ". drinks ." */
    ". location ."
    ". contacts .";
  }
  #menu {
    grid-area: menu;
    align-self: center;
    justify-self: center;
  }

  #location {
    grid-area: location;
    align-self: center;
    justify-self: center;
  }

  #nav-contact {
    grid-area: contacts;
    align-self: center;
    justify-self: center;
  }

  a {
    font-size: 3em;
  }

  .small-screen {
    display: none;
  }

  
#banner {
  display: none;
}


  #options h1 {
    font-size: 5em;
  }


  #categories {
    color: white;
    display: grid;
    grid-template-columns: 1fr 3fr 1.5fr;
    grid-template-rows: 750px 750px 750px;
    grid-template-areas:
    ". categ1 ."
    ". categ2 ."
    ". categ3 .";
    }
  
  
  #categ1 {
    grid-area: categ1;
    justify-self: center;
    text-align: center;
    align-self: center;
  }
  
  
  #categ2 {
    grid-area: categ2;
    justify-self: center;
    text-align: center;
    align-self: center;
  }
  
  #categ3 {
    grid-area: categ3;
    justify-self: center;
    text-align: center;
    align-self: center;
  }


  #categories img {
    width: 120%;
    height: 100%;
  }

  
  .title-bottom {
    display: none;
  }

  span {
    font-family: 'Open Sans', sans-serif;
    font-size: xx-large;
  }
  
  span a {
    color: white;
    font-size: large;
  }
  
  #categories p {
    font-size: 65px;
  }

  #where h1 {
    font-size: 5em;
  }

  #locations {
    width: 550px;
    height: 600px;
  }

  #locations h1 {
    font-size: 5em;
  }

  #locations p {
    font-size: 4em;
  }
  
  
#contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px 80px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  grid-template-areas:
  ". email ."
  ". number .";
}

#email {
  grid-area: email;
  align-self: center;
  justify-self: center;
}

#number {
  grid-area: number;
  align-self: center;
  justify-self: center;
}

#contact-us h1 {
  font-size: 5em;
}

#contact h4 {
  font-size: 2.5em;
}
  
}


@media only screen and (max-width: 600px) {


  #navbar {
    background-color: white;
    display: grid;
    position: fixed;
    width: 100%;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 65px 65px 65px;
    grid-template-areas:
    ". menu ."
    /* ". pizza ."
    ". burger ."
    ". drinks ." */
    ". location ."
    ". contacts .";
  }
  #menu {
    grid-area: menu;
    align-self: center;
    justify-self: center;
  }

  #location {
    grid-area: location;
    align-self: center;
    justify-self: center;
  }

  #nav-contact {
    grid-area: contacts;
    align-self: center;
    justify-self: center;
  }

  a {
    font-size: 30px;
  }

  .small-screen {
    display: none;
  }


  #banner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 510px;
    grid-template-areas:
    ". banner .";
  }

  #banner-img {
    grid-area: banner;
    width: 500px;
    justify-self: center;
  }
  #categories {
    color: white;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 450px 450px 450px;
    grid-template-areas:
    ". categ1 ."
    ". categ2 ."
    ". categ3 .";
    }
  
  
  #categ1 {
    grid-area: categ1;
    justify-self: center;
    text-align: center;
    align-self: center;
  }
  
  
  #categ2 {
    grid-area: categ2;
    justify-self: center;
    text-align: center;
    align-self: center;
  }
  
  #categ3 {
    grid-area: categ3;
    justify-self: center;
    text-align: center;
    align-self: center;
  }
  
  .title-bottom {
    display: none;
  }
  
}

@media only screen and (min-width: 992px) {
  .title-top {
    display: none;
  }
}